<p class="lead">This is a prototype of a web based tool to enable app developers to browse the SMART sample patient
set to find a list of appropriate patient ids to use when demonstrating their app.</p>
<p>This tool should run entirely on the front end and should use the open FHIR endpoint at
<a href="https://sb-fhir-dstu2.smarthealthit.org/api/smartdstu2/open">https://sb-fhir-dstu2.smarthealthit.org/api/smartdstu2/open</a>
to retrieve the patient lists and details (I’d suggest using the Patient resource query and the
“$everything” operation). Any frontend javascript framework (or none) is acceptable. Functionality
that is designed but not implemented can be indicated through failing unit tests or placeholder
comments in the code.</p>


{{#if fc.fhirFailed}}
  <div class="alert alert-danger" role="alert">
    Problem loading patient data. Cannot browse patients.
  </div>
{{/if}}

{{#if fc.isLoading}}
    <div class="alert alert-info" role="alert">Loading Application Data... Waiting up to 10 seconds.</div>
{{else}}
  {{#unless fc.fhirFailed}}
    <h5 class="topspacing">Patients have loaded. Navigate to patient browser by following link in header.</h5>
  {{/unless}}
{{/if}}
  <br/>
  <br/>

{{outlet}}
